html {
    font-family: "Lucida Console", "Courier New", monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: pink;
    width: 100%;
    position: relative;
}

.margin-top-bot {
    margin: 10px 0;
}

.textSize_px {
    font-size: 24px;
    text-align: center;
}

#main {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    height: 100px;
    aspect-ratio: 1;
    /*background-image: url("hmm.png");*/
    background-image: url('../../assets/img/hmm.png');
    background-repeat: no-repeat;
    background-size: contain;

    /*background-image: url("./hmm.png");*/
    /*background-color: red;*/
}

/*file:///C:/Users/Hoang.H/Downloads/%23testApps/tc-prj/othersS/newDCAGuide/assets/img/hmm.png*/

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.col {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

input {
    width: 8.6rem;
    text-align: center;
    /*height: 50px;*/
    border-radius: 10px;
    font-size: 30px;
}

.noteInput {
    margin: 30px 0;
    height: 100px;
}

@media (max-width: 800px) {
    input {
        width: 80%;
    }
}

.btn {
    height: 50px;
    background-color: red;
    border: 1px solid black;
}